asgiref==3.4.1
async-timeout==4.0.2
bk-crypto-python-sdk==1.1.1
blue-krill==1.2.5
certifi==2024.2.2
cffi==1.15.1
charset-normalizer==2.0.12
click==8.0.4
cryptography==3.4.8
curlify==2.2.1
dacite==1.8.1
dataclasses==0.7
Django==3.2.24
django-cors-headers==3.10.1
django-environ==0.8.1
django-redis==5.4.0
djangorestframework==3.14.0
djangorestframework-jwt==1.11.0
djangorestframework-simplejwt==4.4.0
drf-yasg==1.21.7
idna==3.6
importlib-metadata==4.8.3
inflection==0.5.1
joblib==1.1.1
numpy==1.19.5
packaging==21.3
pycparser==2.21
pycryptodomex==3.20.0
pydantic==1.9.2
PyJWT==1.7.1
PyMySQL==1.0.2
pyparsing==3.1.1
python-editor==1.0.4
pytz==2024.1
PyYAML==6.0.1
redis==4.3.6
requests==2.27.1
scikit-learn==0.24.2
scipy==1.5.4
six==1.16.0
sklearn==0.0
sqlparse==0.4.4
threadpoolctl==3.1.0
toml==0.10.2
tongsuopy-crayon==1.0.2b6
typing_extensions==4.1.1
uritemplate==4.1.1
urllib3==1.26.18
watchdog==1.0.2
wrapt==1.16.0
zipp==3.6.0
